<h1>Edit Post</h1>
<form action="<%= posts_url %>" method="post">
  <input type="hidden" name="authenticity_token" value="_form_authenticity_token">
  <label>Title:
    <input type="text" name="post[title]" value="<%= post[title] %>">
  </label>

  <label>URL:
    <input type="text" name="post[url]" value="<%= post[url] %>">
  </label>

  <label>Content:
    <input type="text" name="post[content]" value="<%= post[content] %>">
  </label>

  <% Sub.all.each do |s| %>
    <label><%= s.title %>
      <input type="checkbox" name="post[sub_ids][]" value="<%= s.id %>"
      <%= "checked" if @post.sub_ids.include?(s.id) %> >
    </label>
  <% end %>

  <input type="submit" value="Update Post">
</form>
